{% extends 'base.html' %}

{% block title %}home page{% endblock title %}
{% block css %}
{% endblock%}
{% block homeactive %}active{% endblock homeactive %}

{% block body %}

<div class="container">
    <div class="jumbotron my-3">
      <h1 class="display-4">Welcome to BlogHere!</h1>
      <a class="btn btn-primary btn-lg" href="/bloghere" role="button">Go to Blog</a>
      </div>
    </div>
    <div class="container">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 my-4 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <strong class="d-inline-block mb-2 text-primary">By chiranjivi keshav</strong>
                  <h3 class="mb-0">All of Learn HTML! is available
                  </h3>
                  <div class="mb-1 text-muted">April 04 2023</div>
                  <p class="card-text mb-auto">
                    Whether you’re interested in becoming a professional web developer or you simply want to learn more about how websites work, the first thing you need to study is HTML.
                    HTML is the standard language that is used for creating webpages and web applications. Every time you access a website, a server sends an HTML file to your computer and your browser interprets and displays the information included in that file. In fact, all the information you are reading now is simply data that has been stored in an HTML file and sent to your browser.
                    Here’s the best thing about HTML – it’s a simple language to learn.
                    Most people can learn the basics of HTML in just a few hours, and with a solid HTML foundation, you can progress to more complex languages such as CSS and JavaScript.                    
                    This guide will provide an introduction to writing HTML, examine the basic building blocks of HTML such as tags, elements and attributes, and help you create your first HTML page by following a step-by-step tutorial. By the end of this guide, you should have the basic knowledge required to start working on your own HTML projects.                    
                    If you are just looking to create a website and don’t want to bother learning HTML, I suggest you use WordPress.  I have a few WordPress tutorials, including this one on starting a blog and this one on making a website.
                  </p>
                </div>
           <div class="col-auto d-none d-lg-block">
                  <img src="https://web-dev.imgix.net/image/kheDArv5csY6rvQUJDbWRscckLr1/8VqPyKxeGQWSe5tljiQz.svg">
                </div>     
              </div>
              </div>
 {% endblock %}